:root {
  --main-shade: #a26f5d;
  --light-shade: #efefeb;
  --light-accent: #9c9a96;
  --dark-accent: #8b7434;
  --dark-shade: #445248;
  --darkest-shade: #2e312f;
}

h1 {
  color: var(--light-shade);
  font-size: 8vh;
}

body {
  background-color: var(--dark-shade);
}

.card {
  background-color: var(--darkest-shade);
  color: var(--light-shade);
}

.domains {
  background-color: var(--light-accent);
}

.column-list {
  column-count: 3;
  padding-left: 0;
}

@media (max-width: 768px) {
  .column-list {
    column-count: 2;
    padding-left: 0;
  }
}
